body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  background-color: #0072C6;
  color: #fff;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  border-radius: 10px;
  display: flex; /* Added */
  flex-direction: column; /* Added */
  justify-content: center; /* Added */
  align-items: center; /* Added */
  margin: 0 auto;
 
}

.header {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 20px;
}

.content {
  margin-top: 20px;
  text-align: center;
}

.content img {
  width: 30px;
  margin: 0 5px;
}


















.feedback-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.review-box {
  background-color: #ffeb3b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.rating {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.submit-button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}