body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #584cff, #e100ff);
  color: #fff;
  
}

.header {
  
  padding: 10px;
  width: 90%;
  height: 60px;
  margin: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.appointment{
  width: 100%;
  background-color: white;
  color: black;
  align-content: center;
  border-radius: 10px;
}

.container {
  background-color: #0072C6;
  color: #fff;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  height: 500px;;
  border-radius: 10px;
}

.header .logo-and-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 100%;
  align-content: center;
  background-color: #fff;
}

.header .logo-and-links .logo {
  width: 60px;
  height: 100%;
  align-content: center;
}

.header .logo-and-links .links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  
}

header .logo-and-links .links a {
  color: black;
  text-decoration: none;
}

.header .icons {
  height: 10px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  gap: 10px;
  align-items: center;
}

.header .icons img {
  width: 30px;
  height: 30px;
}



nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  
}




.banner {
  
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.login-section {
  text-align: center;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1973fa;
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #4CAF50;
 }

button:hover {
  background-color: #555;

  }


p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: rgb(10, 14, 248);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}





.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  
  color: rgb(8, 8, 8);
  padding: 10px;
}



