body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: antiquewhite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;

}


.content-img{

}

.context-text{


}




.banner img{
  width: 60px;
  height: 70px;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}